@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #A0A0A0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;;
}